
.redes{
	width: fit-content;
	margin: 0 auto;
}
.redes i{
	font-size: 15px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	padding: 15px;
	display: block;
	float: left;
	margin-right: 2.5px;
	margin-left: 2.5px;
}
.girl{
	border-radius: 50%;
	border: 2px solid white;
	margin: 0 auto;
}
.bg-rojo{
	background: #db402c;
}
.bg-azul{
	background: #507ed4;
}
.bg-celeste{
background:#5bc0de;
}
.bg-turquesa{
background:#428bca;
}