*{
	outline: 1px solid red;
}
.float-right{
	float: right;
}
.br2{
	border-radius: 10%;
	margin: 20px 0 10px 0;
}
.color-gray{
	color: gray;
	padding: 0;
}
.color-gray li{
	display: inline;
	padding: 10px;
}
.pagination a{
	color: #33485c;
}
.pagination .active a{
	background: #33485c;
}
.float-left{
	float: left;
}
.float-left img{
	border-radius: 100%;
	margin-right: 15px;
}
.bg-gray img{
	border: 4px solid white;
	margin-right: 15px;
}
.pd20{
	padding: 20px;
}
.comment .col-md-6 {
	padding-left: 0;
	padding-bottom: 15px;
}
.comment button{
	margin-top: 15px;
}
input:required{
	border: 1px solid red;
}
input:valid, textarea:valid{
	background: rgba(0,255,0,.1);
}
input:invalid{
	background: rgba(255,0,0,.4);
}
