*{
	outline: 1px solid red;
}
.bg-gray{
	background: #f5f5f5;
}
.bg-verde{
  background:#2ecc71;
}
.bg-verde i{
	font-size: 40px;
}
.div-icon{
	padding:15px; 
	border-radius: 100%;
	border: 1px solid red; 
}
.pd80-40{
	padding: 80px 40px;
}
.pd40{
	padding: 40px;
}
.thumbnail{
	padding: 10px;
}
.bor-left{
	border-left: 3px solid white;
	margin-bottom: 20px;
}
.float{
	float: left;
	height: 65px;
	width: 65px;
	border-radius: 100%;
	padding: 15px 0;
	text-align: center;

}