*{
	outline: 1px solid red;
}
.bg-verde{
  background:#2ecc71;
}
.bg-verde i{
	font-size: 40px;
	border-radius: 100%
}
.div-icon{
	padding:25px; 
	border-radius: 50%;
	border: 1px solid red; 
}
.pd40{
	padding: 40px;
}