@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
body {
  background-color: #F5F5F5;
  padding-top: 71px; /*Corrige el roblema del menu fixed*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #34495e; /*rgb(52,73,94)*/
}
/**********Estilos y clases generales **********/
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}
.clearfix {
  *zoom: 1;
}
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .clearfix:after {
    clear: both;
  }

/*Header*/
header .navbar {
  background-color: #34495E;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
header .navbar-brand {
  color: #fff !important;
  font-size: 30px;
  font-weight: 400;

}
  .navbar-brand i {
    color: #1BBC9B;
    margin-right: 7px;
  }
.navbar-toggle {
  background-color: transparent;
}
  .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: transparent !important;
  }
  .navbar-toggle .icon-bar {
    background-color: #FFF;
  }

/*Navbar-Nav*/
.navbar-inverse .navbar-nav > li { 
  margin-top: 15px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #bdc3c7 !important;
  padding: 7px 13px;
  -webkit-transition: all .35s;
          transition: all .35s;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #EAECEE !important;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff !important;
  background-color: #2C3E50;
  border-radius: 5px;
}

/*Titulo*/
.titulo {
  background-color: #2ECC71;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 30px;
}
.titulo h1 {
  margin-bottom: 0;
}
.titulo p {
  margin-bottom: 25px;
}
.titulo p.text-right a {
  color: rgba(255,255,255,.7);
}
.titulo p.text-right a:first-child {
  color: #fff;
}
.titulo p.text-right a:hover {
  color: #34495e;
}

/*********Slider*********/
.carousel-mycaption {
  position: absolute;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  color: #fff;
 /* text-shadow: 1px 1px 1px #333;*/
  
}
/********** FOOTER **********/
footer  p {
  color: #bdc3c7;
}
footer h4 {
  color: #ffffff;
}
.footer{
	background: #33485c;
	color: #adb5ba;
  padding-top: 40px;
  padding-bottom: 25px;
}
.footer .col-md-3{
	margin-bottom: 25px;
}
.footer .img-responsiv {
	min-width: 65px !important;
}
footer .abcsmall{
	font-size: 10px;
}
footer .inline{
	display: inline;
}
.angle i{
	font-size: 50px;
	color: red;
}
footer .bg-red{
	background: #d95250;
}
/*Copyright*/
.copyright {
  background-color: #2C3E50;
  padding-top: 25px;
  padding-bottom: 25px;
}
.copyright p:last-child {
  margin-bottom: 0;
  text-align: right;
}
.copyright a {
  color: inherit;
  margin-left: 10px;
  line-height: 0;
}
.copyright a:hover {
  color: #1BBC9B;
}
