@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
body {
  background-color: #F5F5F5;
  padding-top: 71px; /*Corrige el roblema del menu fixed*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #34495e; /*rgb(52,73,94)*/
}

* {
  outline: 2px solid rgba();
}
/**********Estilos y clases generales **********/
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-transition: all linear .15s;
          transition: all linear .15s;
}
a:hover, a:focus {
  text-decoration: none;
}
.clearfix {
  *zoom: 1;
}
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .clearfix:after {
    clear: both;
  }
.float-left  {
  float: left;
}
.abcsmall{
  font-size: 10px;
}
.inline{
  display: inline;
}
.pd80-40{
  padding: 80px 40px;
}
.pd40{
  padding: 40px;
}
.pd20{
  padding: 20px;
}
.text-white{
  color:  white;
}

/*Header*/
header .navbar {
  background-color: #34495E;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
header .navbar-brand {
  color: #fff !important;
  font-size: 30px;
  font-weight: 400;

}
  .navbar-brand i {
    color: #1BBC9B;
    margin-right: 7px;
  }
.navbar-toggle {
  background-color: transparent;
}
  .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: transparent !important;
  }
  .navbar-toggle .icon-bar {
    background-color: #FFF;
  }

/*Navbar-Nav*/
.navbar-inverse .navbar-nav > li { 
  margin-top: 15px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #bdc3c7 !important;
  padding: 7px 13px;
  /*-webkit-transition: all .25s;
          transition: all .25s;*/
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #EAECEE !important;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff !important;
  background-color: #2C3E50;
  border-radius: 5px;
}

/*Titulo*/
.titulo {
  background-color: #2ECC71;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.titulo h1 {
  margin-bottom: 0;
}
.titulo p {
  margin-bottom: 25px;
}
.titulo .breadcrumb {
  background-color: transparent;
  padding: 0 18px 0;
}
.titulo .breadcrumb a {
  color: #fff;
}
.titulo .breadcrumb a:hover {
  color: #34495e;
}
.titulo .breadcrumb .active {
  color: rgba(255,255,255,.7);
}


/*********Slider*********/
.carousel-inner [class*="imagen-"] {
  width: 100%;
  height: 450px;
  z-index: 101;
}
.carousel-inner .imagen-1 {
  background: url('../images/slider/bg1.jpg') center  ;
  background-size: cover ;
}
.carousel-inner .imagen-2 {
  background: url('../images/slider/bg2.jpg') center no-repeat;
  background-size: cover ;
}
.carousel-inner .imagen-3 {
  background: url('../images/slider/bg3.jpg') center no-repeat;
  background-size: cover ;
}
.carousel-mycaption {
  position: absolute;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  color: #fff;
 /* text-shadow: 1px 1px 1px #333;*/
  
}
/********** ABOUT **********/
.redes{
  width: fit-content;
  margin: 0 auto;
}
.redes i{
  font-size: 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 15px;
  display: block;
  float: left;
  margin-right: 2.5px;
  margin-left: 2.5px;
}
.girl{
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 auto;
}
.bg-rojo{
  background: #db402c;
}
.bg-azul{
  background: #507ed4;
}
.bg-celeste{
background:#5bc0de;
}
.bg-turquesa{
background:#428bca;
}
/********** FOOTER **********/
footer  p {
  color: #bdc3c7;
}
footer h4 {
  color: #ffffff;
}
.footer-links{
	background: #33485c;
	color: #adb5ba;
  padding-top: 40px;
  padding-bottom: 25px;
}
.footer-links .col-md-3{
	margin-bottom: 25px;
}
.footer-links .bg-red{
	background: #d95250;
}
.footer-links .pdbottom{
  padding-bottom: 20px;
}
.footer-links .pdspecial{
  padding:5px 20px 0 15px;
}
/*Copyright*/
.copyright {
  background-color: #2C3E50;
  padding-top: 25px;
  padding-bottom: 25px;
}
.copyright p:last-child {
  margin-bottom: 0;
  text-align: right;
}
.copyright a {
  color: inherit;
  margin-left: 10px;
  line-height: 0;
}
.copyright a:hover {
  color: #1BBC9B;
}
