@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  padding-top: 50px; /*Corrige el roblema del menu fixed*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

/****************Header****************/
header .navbar {
  background-color: #34495E;
}
header .navbar-brand {
  color: #fff !important;
  font-size: 30px;
  font-weight: 400;
}
  .navbar-brand i {
    color: #1BBC9B;
    margin-right: 7px;
  }
.navbar-toggle {
  background-color: transparent;
}
  .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: transparent !important;
  }
  .navbar-toggle .icon-bar {
    background-color: #FFF;
  }
header .navbar-nav a {
  color:#E7EAED;
}

.titulo {
  background-color: #2ECC71;
  color: #FEFEFE;
  padding-top: 25px;
  padding-bottom: 25px;
}
  .titulo h1 {
    margin-bottom: 0;
  }
  .titulo p, .titulo a {
    color: #DFF7E9;
    margin-bottom: 25px;
  }
/*********slider*******/
#my Carousel item {
  min-height: 750px;
}
#myCarousel ol.carousel-indicators,
#myCarousel a.carousel-control {
  display: none;
}
#myCarousel .carousel-mycaption {
  position: absolute;
  color: #fff;
  text-align: left;
  text-shadow: 1px 1px 1px #333;
  top: 50%;
  left:50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
 
}
/***************Footer****************/
footer  p {
  color: #9FA8B0;/*919BA3*/
}
footer h4 {
  color: #DEE1E5;
}
/*Copyright*/
.copyright {
  background-color: #2C3E50;
  padding-top: 25px;
  padding-bottom: 25px;;
}
.copyright p:last-child {
  margin-bottom: 0;
}
.copyright a {
  color: inherit;
  margin: 0 5px;
  line-height: 0;
}